html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}